.card-post {
  margin-top: 3%;
}

.icon {
  cursor: pointer;
}

.mediaPost {
  height: 400px;
  overflow: hidden;
}
.imgSearch {
  border-radius: 50%;
  float: left;
  height: auto;
}
h3 {
  color: #DEDDDC;
}
.mediaPost img
{
  height: inherit;
  width: inherit;
  padding-bottom: 10%;
}

.cross {
  float: right;
  cursor: pointer;
}
