.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar{
  height:20%;
  border-bottom: 2px solid #FF7632;
  padding: 10px 50px;
}

.mr-auto {
  font-size:19px;
  float: right;
}

.form-inline{
  width:40%;
  float: left;
  padding-top: 5px;
}

.navbar-collapse {
  display: inline-block;
  flex-basis: auto;
}

.navbar .navbar-collapse {
  display: inline!important;
  flex-basis: auto;
}


.form-group{
  width: 100%!important;
}

.btn{
  border-radius: 25px;
  background-color: #007bff;
  border-color: #007bff;
}

.row{
  margin-left: 0;
  margin-right: 0;
}


