.file {
  cursor: pointer;
}

.form {
  padding-top: 20px;
  padding-bottom: 20px;
  background: lightgray;
}

.textarea {
  margin: 0 auto;
}

.buttonSend {
  padding-top: 20px;
}

.btn:disabled{
  cursor: not-allowed;
}

textarea {
  resize: none;
}
